<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=price&direction=dsec" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nintendo-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nintendo
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="nintendo-link">
            <a href="{% url 'products' %}?category=nintendo_consoles" class="dropdown-item">Consoles</a>
            <a href="{% url 'products' %}?category=nintendo_games" class="dropdown-item">Games</a>
            <a href="{% url 'products' %}?category=nintendo_accessories" class="dropdown-item">Accessories</a>
            <a href="{% url 'products' %}?category=nintendo_consoles,nintendo_games,nintendo_accessories" class="dropdown-item">All Nintendo</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="playstation-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Playstation
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="playstation-link">
            <a href="{% url 'products' %}?category=playstation_consoles" class="dropdown-item">Consoles</a>
            <a href="{% url 'products' %}?category=playstation_games" class="dropdown-item">Games</a>
            <a href="{% url 'products' %}?category=playstation_accessories" class="dropdown-item">Accessories</a>
            <a href="{% url 'products' %}?category=playstation_consoles,playstation_games,playstation_accessories" class="dropdown-item">All Playstation</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="xbox-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Xbox
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="xbox-link">
            <a href="{% url 'products' %}?category=xbox_consoles" class="dropdown-item">Consoles</a>
            <a href="{% url 'products' %}?category=xbox_games" class="dropdown-item">Games</a>
            <a href="{% url 'products' %}?category=xbox_accessories" class="dropdown-item">Accessories</a>
            <a href="{% url 'products' %}?category=xbox_consoles,xbox_games,xbox_accessories" class="dropdown-item">All Xbox</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="merchandise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Merchandise
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="merchandise-link">
            <a href="" class="dropdown-item">Trading Cards</a>
            <a href="" class="dropdown-item">Toys</a>
            <a href="" class="dropdown-item">Collectibles</a>
            <a href="" class="dropdown-item">Board Games</a>
            <a href="" class="dropdown-item">All Merchandise</a>
        </div>
    </li>

</div>