<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nintendo-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nintendo
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="nintendo-link">
            <a href="" class="dropdown-item">Consoles</a>
            <a href="" class="dropdown-item">Games</a>
            <a href="" class="dropdown-item">Accessories</a>
            <a href="" class="dropdown-item">Coming Soon</a>
            <a href="" class="dropdown-item">All Nintendo</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="playstation-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Playstation
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="playstation-link">
            <a href="" class="dropdown-item">Consoles</a>
            <a href="" class="dropdown-item">Games</a>
            <a href="" class="dropdown-item">Accessories</a>
            <a href="" class="dropdown-item">Coming Soon</a>
            <a href="" class="dropdown-item">All Playstation</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="xbox-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Xbox
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="xbox-link">
            <a href="" class="dropdown-item">Consoles</a>
            <a href="" class="dropdown-item">Games</a>
            <a href="" class="dropdown-item">Accessories</a>
            <a href="" class="dropdown-item">Coming Soon</a>
            <a href="" class="dropdown-item">All Xbox</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="merchandise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Merchandise
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="merchandise-link">
            <a href="" class="dropdown-item">Trading Cards</a>
            <a href="" class="dropdown-item">Toys</a>
            <a href="" class="dropdown-item">Collectibles</a>
            <a href="" class="dropdown-item">Board Games</a>
            <a href="" class="dropdown-item">All Merchandise</a>
        </div>
    </li>

</div>